<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>WabaOne</mat-toolbar>
    <mat-nav-list>
      <a [ngClass]="{'sidenav-item-active': outlet.activatedRouteData['active']==='invites'}" routerLink="invites"
        mat-list-item href="#">
        <mat-icon matListItemIcon>rsvp</mat-icon>
        Invites</a>
      <a [ngClass]="{'sidenav-item-active': outlet.activatedRouteData['active']==='invite-stats'}" routerLink="invite-stats"
        mat-list-item href="#">
        <mat-icon matListItemIcon>bar_chart</mat-icon>
        Invite Stats</a>
      <!-- <a mat-list-item href="#">Link 3</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="isHandset$ | async" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>wabaone</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet #outlet="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>