<div class="p-3 p-md-5">
    <nav color="accent" fitInkBarToContent mat-tab-nav-bar [mat-stretch-tabs]="false" [tabPanel]="tabPanel">
        <a mat-tab-link routerLink="/crm" [active]="outlet.activatedRouteData['active'] === 'overview'">Overview</a>
        <a mat-tab-link routerLink="growers" [active]="outlet.activatedRouteData['active'] === 'growers'">Growers</a>
        <!-- <a routerLink="casual" mat-tab-link [active]="outlet.activatedRouteData['active'] === 'other'">Other</a> -->
    </nav>
    <mat-divider></mat-divider>
    <mat-tab-nav-panel #tabPanel>
        <router-outlet #outlet="outlet"></router-outlet>
    </mat-tab-nav-panel>
</div>