// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'app/app.component.scss' as app;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wabaone-primary: mat.define-palette(mat.$orange-palette, 500);
$wabaone-accent: mat.define-palette(mat.$green-palette, 500, 700, 900);

// The warn palette is optional (defaults to red).
$wabaone-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$wabaone-theme: mat.define-light-theme((color: (primary: $wabaone-primary,
        accent: $wabaone-accent,
        warn: $wabaone-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($wabaone-theme);
// @include mat.all-component-typographies($wabaone-theme);
// @include mat.all-component-densities($wabaone-theme);
// @include mat.all-component-typographies($wabaone-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Tilt Neon', "Helvetica Neue", sans-serif !important;
}

$wabaone-dark-theme: mat.define-dark-theme((color: (primary: $wabaone-primary,
        accent: $wabaone-accent,
        warn: $wabaone-warn,
      )));

.dark-mode {
  @include mat.all-component-colors($wabaone-dark-theme);
  @include app.theme($wabaone-dark-theme);
}

.mdc-dialog__title::before {
  height: fit-content !important;
}

.mat-bottom-sheet-container{
  padding: 0px !important;
}
app-add-grower-bottomsheet {
  padding: 0 16px;
}

th {
  color: #4caf50 !important;
}