<div class="px-sm-5 px-3  pt-sm-5  py-3">
    <mat-card appearance="raised" class="overflow-auto">
        <div class="hstack px-3 px-sm-5 pb-3 gap-3 gap-sm-5 flex-wrap align-items-start justify-content-start">
            <div>
                <h3>Onboarding</h3>
                <!-- <mat-card-content> -->
                <div class="vstack align-items-start">
                    <button routerLink="/hr/employee-onboarding" mat-button>
                        <mat-icon>call_made</mat-icon>
                        Employee Onboarding
                    </button>
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Employee Skill Map
                    </button>
                </div>
            </div>
            <div>
                <h3>Grievance</h3>
                <!-- <mat-card-content> -->
                <div class="vstack align-items-start">
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Grievance Type
                    </button>
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Employee Grievance
                    </button>
                </div>
            </div>
            <div>
                <h3>Training</h3>
                <div class="vstack align-items-start">
                    <button routerLink="leave-types" mat-button>
                        <mat-icon>call_made</mat-icon>
                        Training Program
                    </button>
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Training Event
                    </button>
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Training Feedback
                    </button>
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Training Result
                    </button>
                </div>
            </div>
            <div>
                <h3>Exit</h3>
                <div class="vstack align-items-start">
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Employee Seperation Template
                    </button>
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Employee Seperation
                    </button>
                </div>
            </div>
            <div>
                <h3>Daily Work Summary</h3>
                <div class="vstack align-items-start">
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Daily Work Summary
                    </button>
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Daily Work Summary Group
                    </button>
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Daily Work Summary Replies
                    </button>
                </div>
            </div>
            <div>
                <h3>Reports</h3>
                <div class="vstack align-items-start">
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Employee Exits
                    </button>
                    <button mat-button>
                        <mat-icon>call_made</mat-icon>
                        Employee Birthdays
                    </button>
                </div>
            </div>
        </div>
        <!-- <mat-divider></mat-divider>
        <mat-card-actions class="gap-3 gap-sm-5  px-3 px-sm-5">
            <button routerLink="employee-lifecycle" color="accent" mat-button>
                <mat-icon>groups</mat-icon>
                Employee Lifecycle
            </button>
            <button color="accent" mat-button>
                <mat-icon>task</mat-icon>
                Shift & Attendance
            </button>
            <button color="accent" mat-button>
                <mat-icon>request_quote</mat-icon>
                Expense & Claims
            </button>
            <button color="accent" mat-button>
                <mat-icon>beach_access</mat-icon>
                Leaves
            </button>
        </mat-card-actions> -->
    </mat-card>
</div>