<mat-toolbar>
    <div class="w-100 hstack">
    </div>
    <div class="w-100 hstack justify-content-center">
        <h2>Edit Coffee Type</h2>
    </div>
    <div class="w-100 hstack justify-content-end">
        <button mat-dialog-close mat-icon-button class="ms-auto">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-divider></mat-divider>
<form (ngSubmit)="submit()" class="m-3 vstack gap-3" [formGroup]="newTypeFormGroup">
    <mat-form-field [subscriptSizing]="'dynamic'" color="accent">
        <mat-label>Coffee Type</mat-label>
        <input formControlName="name" type="text" matInput>
        <mat-error *ngFor="let error of newTypeFormGroup.controls.name.errors?.['backend']">{{error}}
        </mat-error>
    </mat-form-field>
    <mat-form-field [subscriptSizing]="'dynamic'" color="accent">
        <mat-label>Grades</mat-label>
        <mat-select formControlName="coffee_grades" multiple>
            <mat-option *ngFor="let coffeeGrade of coffeeGrades?.data"
                [value]="coffeeGrade.id">{{coffeeGrade.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button [disabled]="newTypeFormGroup.disabled" style="width: fit-content;" type="submit" color="accent"
        mat-raised-button>Submit</button>
</form>